# Association Rules Generation from Frequent Itemsets

Reference

http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/association_rules/

In [1]:
from util.utility import round_df
from association_analyzer import calculate_support, calculate_association

In [2]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]
# dataset = []

In [3]:
df = calculate_support(dataset)
round_df(df, decimals=4)

,Object,Number of Object,Number of Basket,Support: Object,Support: Basket
0,Nutmeg,2,2,0.0769,0.4
1,Eggs,4,4,0.1538,0.8
2,Milk,3,3,0.1154,0.6
3,Kidney Beans,5,5,0.1923,1.0
4,Yogurt,3,3,0.1154,0.6
5,Onion,3,4,0.1154,0.8
6,Dill,1,1,0.0385,0.2
7,Apple,1,1,0.0385,0.2
8,Unicorn,1,1,0.0385,0.2
9,Corn,2,2,0.0769,0.4
10,Ice cream,1,1,0.0385,0.2

In [4]:
frequent_itemsets, association_rules_df = calculate_association(dataset)

In [5]:
round_df(frequent_itemsets, decimals=4)

    support                                     itemsets
0       0.4                                       (Corn)
1       0.8                                       (Eggs)
2       1.0                               (Kidney Beans)
3       0.6                                       (Milk)
4       0.4                                     (Nutmeg)
5       0.6                                      (Onion)
6       0.6                                     (Yogurt)
7       0.4                         (Corn, Kidney Beans)
8       0.8                         (Eggs, Kidney Beans)
9       0.4                                 (Eggs, Milk)
10      0.4                               (Nutmeg, Eggs)
11      0.6                                (Eggs, Onion)
12      0.4                               (Eggs, Yogurt)
13      0.6                         (Kidney Beans, Milk)
14      0.4                       (Nutmeg, Kidney Beans)
15      0.6                        (Kidney Beans, Onion)
16      0.6                       (Kidney Beans, Yogurt)
17      0.4                               (Yogurt, Milk)
18      0.4                              (Nutmeg, Onion)
19      0.4                             (Nutmeg, Yogurt)
20      0.4                              (Yogurt, Onion)
21      0.4                   (Eggs, Kidney Beans, Milk)
22      0.4                 (Nutmeg, Eggs, Kidney Beans)
23      0.6                  (Eggs, Kidney Beans, Onion)
24      0.4                 (Eggs, Kidney Beans, Yogurt)
25      0.4                        (Nutmeg, Eggs, Onion)
26      0.4                       (Nutmeg, Eggs, Yogurt)
27      0.4                        (Eggs, Yogurt, Onion)
28      0.4                 (Kidney Beans, Yogurt, Milk)
29      0.4                (Nutmeg, Kidney Beans, Onion)
30      0.4               (Nutmeg, Kidney Beans, Yogurt)
31      0.4                (Kidney Beans, Yogurt, Onion)
32      0.4                      (Nutmeg, Yogurt, Onion)
33      0.4          (Nutmeg, Eggs, Kidney Beans, Onion)
34      0.4         (Nutmeg, Eggs, Kidney Beans, Yogurt)
35      0.4          (Eggs, Kidney Beans, Yogurt, Onion)
36      0.4                (Nutmeg, Eggs, Yogurt, Onion)
37      0.4        (Nutmeg, Kidney Beans, Yogurt, Onion)
38      0.4  (Nutmeg, Eggs, Kidney Beans, Yogurt, Onion)

In [6]:
round_df(association_rules_df, decimals=4)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Corn),(Kidney Beans),0.4,1.0,0.4,1.0,1.0000,0.00,inf
1,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.0,1.0000,0.00,inf
2,(Nutmeg),(Eggs),0.4,0.8,0.4,1.0,1.2500,0.08,inf
3,(Onion),(Eggs),0.6,0.8,0.6,1.0,1.2500,0.12,inf
4,(Milk),(Kidney Beans),0.6,1.0,0.6,1.0,1.0000,0.00,inf
...,...,...,...,...,...,...,...,...,...
95,"(Nutmeg, Yogurt)","(Eggs, Kidney Beans, Onion)",0.4,0.6,0.4,1.0,1.6667,0.16,inf
96,"(Nutmeg, Onion)","(Eggs, Kidney Beans, Yogurt)",0.4,0.4,0.4,1.0,2.5000,0.24,inf
97,"(Eggs, Yogurt)","(Nutmeg, Kidney Beans, Onion)",0.4,0.4,0.4,1.0,2.5000,0.24,inf
98,"(Yogurt, Onion)","(Nutmeg, Eggs, Kidney Beans)",0.4,0.4,0.4,1.0,2.5000,0.24,inf
99,(Nutmeg),"(Eggs, Kidney Beans, Yogurt, Onion)",0.4,0.4,0.4,1.0,2.5000,0.24,inf