# Association Rules Generation from Frequent Itemsets

Reference

http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/association_rules/

In [1]:
from util.utility import round_df
from association_analyzer import calculate_support, calculate_association

In [2]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [3]:
df = calculate_support(dataset)
round_df(df, decimals=4)

,Object,Number of Object,Number of Basket,Support: Object,Support: Basket
0,Eggs,4,4,0.1538,0.8
1,Kidney Beans,5,5,0.1923,1.0
2,Nutmeg,2,2,0.0769,0.4
3,Milk,3,3,0.1154,0.6
4,Onion,3,4,0.1154,0.8
5,Yogurt,3,3,0.1154,0.6
6,Dill,1,1,0.0385,0.2
7,Apple,1,1,0.0385,0.2
8,Unicorn,1,1,0.0385,0.2
9,Corn,2,2,0.0769,0.4
10,Ice cream,1,1,0.0385,0.2

In [4]:
frequent_itemsets, association_rules_df = calculate_association(dataset)

In [5]:
round_df(frequent_itemsets, decimals=4)

     support                                           itemsets
0        0.2                                            (Apple)
1        0.4                                             (Corn)
2        0.2                                             (Dill)
3        0.8                                             (Eggs)
4        0.2                                        (Ice cream)
..       ...                                                ...
144      0.4        (Eggs, Kidney Beans, Nutmeg, Onion, Yogurt)
145      0.2                (Eggs, Nutmeg, Milk, Onion, Yogurt)
146      0.2        (Kidney Beans, Nutmeg, Milk, Onion, Yogurt)
147      0.2  (Eggs, Kidney Beans, Nutmeg, Dill, Onion, Yogurt)
148      0.2  (Eggs, Kidney Beans, Nutmeg, Milk, Onion, Yogurt)

[149 rows x 2 columns]

In [6]:
round_df(association_rules_df, decimals=4)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Apple),(Eggs),0.2,0.8,0.2,1.0,1.2500,0.04,inf
1,(Apple),(Kidney Beans),0.2,1.0,0.2,1.0,1.0000,0.00,inf
2,(Apple),(Milk),0.2,0.6,0.2,1.0,1.6667,0.08,inf
3,(Ice cream),(Corn),0.2,0.4,0.2,1.0,2.5000,0.12,inf
4,(Corn),(Kidney Beans),0.4,1.0,0.4,1.0,1.0000,0.00,inf
...,...,...,...,...,...,...,...,...,...
628,"(Onion, Milk, Nutmeg)","(Eggs, Kidney Beans, Yogurt)",0.2,0.4,0.2,1.0,2.5000,0.12,inf
629,"(Yogurt, Milk, Nutmeg)","(Eggs, Kidney Beans, Onion)",0.2,0.6,0.2,1.0,1.6667,0.08,inf
630,"(Onion, Yogurt, Milk)","(Eggs, Kidney Beans, Nutmeg)",0.2,0.4,0.2,1.0,2.5000,0.12,inf
631,"(Milk, Nutmeg)","(Eggs, Kidney Beans, Onion, Yogurt)",0.2,0.4,0.2,1.0,2.5000,0.12,inf
632,"(Onion, Milk)","(Eggs, Kidney Beans, Yogurt, Nutmeg)",0.2,0.4,0.2,1.0,2.5000,0.12,inf